html, body {
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    width: 100% font-family: -apple-system, 'Helvetica', 'Arial', sans-serif;
    color: #2a2a2a;
    font-size: 20pt;
    background-color: #f5f5f5;
    /*background-color: #555454;*/
}
h1 {
    display: block;
    padding-right: 5%;
    text-align: center;
    font-weight: bold;
}
h2 {
    font-size: 1.8em;
    padding-left: 5%;
}

p {
    font-size: 1.2em;
    -webkit-margin-after: 0em;

}

#logSelect {
    padding-left: 5%;
}

/* Style the Tab list */

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */

ul.tab li {
    float: left;
}

/* Style the links inside the list items */

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */

ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */

ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */

#Realtime.tabcontent {
    width: 100%;
    height: 100%;
    display: none;
    padding: 0px 0px;
    border: 40px solid #f47967;
    border-bottom: 1px solid #a7a5a5;
    border-top: 1px solid #a7a5a5;
}
#Historical.tabcontent {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
